@keyframes enter {
    0% {top: 100vh; border-radius: 50px; height: 250px; opacity: 0;}
    100% {top: calc(86vh - 50px); border-radius: 100px; height: 120px; opacity: 1;}
}
/* @keyframes exit {
    0% {top: calc(90vh - 100px); border-radius: 35px; height: 100px}
    100% {top: 100vh; border-radius: 0; height: 300px;}
} */
@keyframes exit {
    0% {opacity: 1; top: calc(86vh - 50px); border-radius: 100px; height: 120px;}
    100% {opacity: 0; top: calc(86vh - 50px); border-radius: 100px; height: 120px;}
}



.SelectNotification {
    position: absolute;
    overflow: hidden;

    margin: 0;

    width: 500px;
    height: 120px;

    left: calc(50% - 250px);

    z-index: 2;


	background: var(--warn400);
    background: linear-gradient(120deg, var(--warn300) 05%, var(--warn400) 58%);
    box-shadow: 0 0 30px black;
    box-shadow: inset 0 0 0;
    border: rgb(16, 24, 39) 1px solid;

    color: rgb(209, 209, 209);

    text-align: left;

    transition: all 0.4s;
}
.SelectNotification:hover {
    box-shadow: inset 0 0 10px var(--warn200);
}

.error-content {
    margin: 15px 20px 5px 50px;
    font-weight: 500;
    font-size: 21px;
    display: flex;
    flex-flow: row wrap;
}
.highlight-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--warn100);
}

.fix-button {
    border: none;
    cursor: pointer;
    margin: 10px 0 0 0;
    width: 70px;
    height: 30px;

    background-color: var(--warn400);
    color:  var(--warn100);

    border-radius: 5px;

    font-size: 20px;
    font-weight: 700;

    box-shadow: inset 0 0 2px rgb(70, 70, 70);

    transition: all 0.3s;
}
.fix-button:hover {
    background-color: var(--warn100);
    color: var(--warn400);
}

.error-content > img {
    margin: 25px 20px 0 -20px;
    transform: translate(-10px, -15px) rotate(0deg);
    height: 70px;
    width: 70px;
}

.animate-enter {
    animation: enter 0.5s cubic-bezier(0.175, 0.885, 0.72, 1) forwards;
}

.animate-exit {
    animation: exit 0.15s ease-in forwards;
}
