@keyframes selectionPopupEnter {
    0% {}
    100% {opacity: 1;}
}
@keyframes selectionPopupExit {
    0% {}
    100% {opacity: 0;}
}


.SelectionPopup {
    position: absolute;
    padding: 5%;
    top: -70vh;
    left: calc(250rem - 40vw);

	opacity: 0;
    width: 75vw;
    height: 75vh;
    border: var(--primary200) 2rem solid;
    background: linear-gradient(110deg, rgb(175, 30, 42) 10%, rgb(92, 20, 26) 90%);
    box-shadow: inset 0 0 25rem black;
    border-radius: 35rem;

    overflow-y: auto;
    overflow-x: hidden;

    color: var(--warn100);

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;

    font-size: 50rem;
    text-align: left;
    /* z-index: 1; */
}

.SelectionPopup.animate-enter {
    animation: selectionPopupEnter 0.8s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}
.SelectionPopup.animate-exit {
    animation: selectionPopupExit 0.8s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

.SelectionPopup .CoinWrapper {
    margin: 25rem 0 0 0;
    display: flex;
    flex-direction: row nowrap;
    color: var(--warn200);
    transition: all 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.SelectionPopup .CoinWrapper:hover {
    cursor: default;
    transition: all 0.07s linear;
    scale: 1.1;
    box-shadow: 0 0 15rem black;
    background-color: rgba(250, 40, 57, 0.474);
    translate: 5% 0;
    z-index: 0;
    color: var(--primary200);
}

.SelectionPopup .CoinButtonRemove {
    margin: 0 10% 0 0;
}

.SelectionPopup .CoinText {
    height: auto;
    margin: 0 0 0 5%;
    line-height: 125%;
    font-size: 50rem;
   
}

.SelectionPopup .Overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    background-color: black;
}

.SelectionPopup .CoinButtonRemove {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25rem;
    width: 10%;
    height: 100%;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgba(83, 0, 0, 0.236);
}
.SelectionPopup .CoinButtonRemove:hover {
    width: 20%;
    font-size: 31rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.SelectionPopup .ClosePopupButton {
    position: fixed;
    cursor: pointer;
    width: 25%;
    height: 12%;
    font-size: 40rem;
    font-weight: 600;

    left: 70%;
    top: 82%;
    background: linear-gradient(110deg, rgb(213, 46, 60) 10%, rgb(250, 40, 57) 90%);
    border-top: rgba(255, 255, 255, 0.436) 2px solid;
    border-left: rgba(255, 255, 255, 0.462) 2px solid;
    border-bottom: black 2px solid;
    border-radius: black 2px solid;
    box-shadow: 5rem 5rem 10rem black;
    border-radius: 10rem;

    color: var(--primary200);
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.SelectionPopup .ClosePopupButton:hover {
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);

    scale: 1.1;
    color: var(--primary100);
    filter: contrast(1.2);
    box-shadow: 7rem 7rem 14rem black;
}

.SelectionPopup .HighlightedText {
    color: var(--primary100);
}