.Nav {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 20rem;
    color: var(--primary100);
}
.NavLinkWrapper {
    margin: 12.8rem 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 26.4rem;
}

@media (orientation: landscape) {
    .Nav {
        flex-flow: column nowrap;
        justify-content: start;
        padding: 8vh 0 0 0;
    }
}
  
@media (orientation: portrait) {
    .Nav {
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 40rem 0 0 0;
    }
    .NavGroup {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw 0 10vw;
        margin-bottom: 100rem;
    }
    .NavTitle {
        display: none;
    }
    .NavLinkWrapper {
        margin: 0 10% 0 10%;
    }
    .NavLink {
        font-size: 65rem;
    }
    .NavLinkWrapper > img {
        display: none;
    }
}

.NavGroup {
    flex-basis: 35%;

}
.NavLinkWrapper {
    margin: 12.8rem 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 26.4rem;
}

.NavTitle {
    margin: 0 0 16rem 0;
    color: var(--primary300);
}

.NavLinkWrapper > img {
    margin: auto;
    margin-left: 0;
    height: 19.2rem;
}

.NavLink {
    margin: 0;
    text-decoration: none;
    color: var(--primary300);

    transition: color 0.2s ease-out;
}
.NavLink:hover {
    color: var(--primary100);
}
.NavLink.active {
    color: var(--secondary300);
}

.NavLink.Unavailable {
    color: var(--warn300);
}
