.Nav {
    flex-basis: 20%;
	display: flex;
    flex-flow: column wrap;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 8vh 0 0 0;
    justify-content: start;
    text-align: left;
    font-size: 1.35rem;
    color: var(--primary100);
}

.NavTitle {
    margin: 0 0 1rem 0;
    color: var(--primary300);
}

.NavLinkWrapper {
    margin: 0.8rem 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.65rem;
}
.NavLinkWrapper > img {
    margin: auto;
    margin-left: 0;
    height: 1.2rem;
}

.NavLink {
    margin: 0;
    text-decoration: none;
    color: var(--primary300);

    transition: color 0.2s ease-out;
}
.NavLink:hover {
    color: var(--primary100);
}
.NavLink.active {
    color: var(--secondary300);
}
