@keyframes fadeIn {
    0% {
        color: green;
    }

    100% {
        color: black;
    }
}
@keyframes glow {
    0% {color: #000000;}
    100% {color: #a0f192;}
}
@keyframes shake {
    0% {translate: 0 0;}
    100% {translate: 0 -2px;}
}
@keyframes opacityFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.CoinCard {
    overflow: hidden;
    /* animation: fadeIn .15s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.CartridgeFront,
.CartridgeRear {
    background-image: url("../../../Assets/Images/cartridgeFront3.png");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 8px;

    width: 250px;
    height: 260px;
    margin: 0;
    padding: 17px 0 0 0;

    color: var(--primary1000);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* animation: glow 1s alternate-reverse 2; */
}

.CartridgeRear img {
    margin: 0;
}

.CartridgeRear .LoadingMoreInfo {
    animation: opacityFadeIn 0.7s ease infinite alternate;
    color: var(--primary400);
}

.CartridgeRear .LoadingMoreInfoImage {
    animation: opacityFadeIn 0.7s ease infinite alternate;
    
    width: 45px;
    height: 45px;
    margin: 5px auto;

    border: 5px solid var(--primary400);
    border-radius: 10px;
}

.form-switch {
    transition: all 0.2s linear;
    flex-basis: 10%;
}


.form-switch {
    flex-basis: 20%;
    width: 193px;
}

.card-title {
    margin: 0 0 0 53px;
    width: 95px;
    line-height: 55px;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-text {
    flex-basis: 60%;
    font-size: 19px;
    max-width: 166px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.CartridgeFront .card-text {
    white-space: normal;
}
.CartridgeRear .card-text {
    white-space: nowrap;
}

.more-info {
    flex-basis: 15%;
    cursor: pointer;

    color: var(--primary1000);
    background-color: transparent;
    word-spacing: 45px;

    font-weight: 600;

    border: none;
}



/* SELECT SWITCH */
.switch {
    margin-top: 4px;
    position: relative;
    display: inline-block;
    width: 193px;
    height: 55px;
    translate: 1.5px -5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #CDCDCD;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 0 4px black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    left: 7.5px;
    bottom: 6.5px;
    background-color: var(--primary300);
    box-shadow: inset 0 0 2px black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover:before {
    animation: shake .14s ease-out alternate 2;
}
.slider.good-color:hover {
    background-color: var(--primary200);
}
.slider.bad-color:hover {
    background-color: var(--warn250);
}

input.good-color:checked+.slider {
    background-color: var(--secondary300);
    box-shadow: inset 0 0 6px black;
    color: var(--primary100);
}
input.bad-color:checked+.slider {
    background-color: var(--warn400);
    box-shadow: inset 0 0 6px black;
    color: var(--primary100);
}

input:focus+.slider {
    
}

input:checked+.slider:before {
    -webkit-transform: translateX(134px);
    -ms-transform: translateX(134px);
    transform: translateX(134px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider-text {
    
}

.slider.round:before {
    border-radius: 50%;
}