.CoinCard {
    overflow: hidden;
}

.CartridgeFront, .CartridgeRear {
    background-image: url("../../../Assets/Images/cartridgeFront.png");
    background-size: contain;
    background-repeat: no-repeat;

	border: red 2px solid;
    width: 250px;
    height: 260px;
    margin: auto;
    padding: 20px 0 0 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.CoinCard * {
    border: green 1px solid;

}

.CartridgeFront > * {
    margin: 0;
}
.CartridgeRear > * {
    margin: 0;
}

.form-switch {
    /* flex-basis: 10%; */
    /* margin: 0 140px 210px 0; */
    z-index: 0;
    transition: all 0.4s linear;

}
.form-switch :checked {
    translate: 140px 0;
    transition: all 0.4s linear;
}

.card-title {
    flex-basis: 20%;
    margin-bottom: 5%;

    font-size: 35px;
}

.card-text {
    flex-basis: 60%;
}

.more-info {
    flex-basis: 15%;
    

    background-color: transparent;
    word-spacing: 45px;

    font-weight: 600;
}