.SelectedCoinsWindow {
    height: 0;
    width: 80%;
    border-radius: 2vw;
    margin: 10vh 0 0 0;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    overflow-y: auto;

    background: linear-gradient(110deg, var(--primary600) 10%, var(--primary700) 90%);

    box-shadow: 0 0 1rem black;

    text-align: left;

    padding: 0;

    opacity: 0;
    translate: 0 15vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    transition: 0.7s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.SelectedCoinsWindow.active {
    flex-basis: 30%;
    translate: 0 0;
    opacity: 1;
    height: 30vh;
    padding: 10% 0 10% 10%;
    overflow-y: auto;
}

.SelectedCoinsWindow.active .good-color {
    color: var(--secondary100);
}
.SelectedCoinsWindow.active .bad-color {
    color: var(--warn300);
}