@keyframes firstLoad {
    0% {
        height: 0vh;
        width: 45rem;
        translate: 100vw 50vh;
        overflow: hidden;
        filter: none;
    }
    40% {
        height: 45rem;
        width: 45rem;
        translate: 35vw 40vh;
        overflow: hidden;
    }

    43% {
        height: 45rem;
        width: 45rem;
        translate: 35vw 40vh;
        overflow: hidden;
    }

    100% {
        height: 94vh;
        width: 83.333vw;
        translate: 0 0;
        overflow: auto;
    }
}

@keyframes firstLoadAside {
    0% {
        translate: 15vw 0;
        opacity: 0;
    }

    50% {
        translate: 25vw 0;
        opacity: 0;
    }

    60% {
        opacity: 0.4;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -3840rem 0;
        /* The image width */
    }
}
@keyframes slidePortrait {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 3840rem;
        /* The image width */
    }
}



@media (orientation: landscape) {
    .Layout {
        height: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        color: black;
    }
    .Layout>main {
        animation: firstLoad 1.2s cubic-bezier(0.25, 0.46, 0.35, 1) forwards,
            gradient 15s ease infinite,
            slide 175s linear infinite;
    
    
        grid-column: span 10;
        overflow: auto;
        margin: 3vh 2vw 3vh 0;
        border-radius: 45rem;
        box-shadow: -1vw 0.7vw 2vw black;
        background: rgb(68, 95, 222);
        /* background: linear-gradient(135deg, rgba(68,95,222,1) 10%, rgba(64,144,232,1) 90%); */
        background-size: 4185rem 1180rem;
        background-image: url("../../../Assets/Images/minimal_home.png");
    
    }
    
    .Layout>aside {
        animation: firstLoadAside 1.7s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
        grid-column: span 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        height: 100vh;

        padding: 0 10% 0 10%;
    }
}

@media (orientation: portrait) {
    .Layout {
        height: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        color: black;
        overflow: auto;
    }
    .Layout>aside {
        animation: firstLoadAside 1.7s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
        height: 350rem;
        padding: 0 10% 0 5%;
        overflow: hidden;
    }
    .Layout>main {
        animation: firstLoad 1.2s cubic-bezier(0.25, 0.46, 0.35, 1) forwards,
            gradient 15s ease infinite,
            slidePortrait 175s linear infinite;
    
    
        grid-row: span 10;
        order: 1;
        margin: 20rem auto;
        border-radius: 45rem;
        box-shadow: -1vw 0.7vw 2vw black;
        background: rgb(68, 95, 222);
        /* background: linear-gradient(135deg, rgba(68,95,222,1) 10%, rgba(64,144,232,1) 90%); */
        background-size: 1350rem 4800rem;
        background-image: url("../../../Assets/Images/minimal_home_portrait.png");
    
    }
}