.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 8% 92% 0%;
    grid-template-columns: repeat(12, 1fr);
    color: black;
}

.Layout > header, .Layout > footer {
    grid-column: span 12;
}

.Layout > main {
    grid-column: span 12;
    overflow: auto;
    padding: 0 10% 0 10%;
}

.Layout > aside {
    grid-column: span 1;
}

.Layout, .Layout > * {
    border: 1px solid;
}

