@keyframes appear {
    0% {scale: 1; translate: -120% 0;}
    100% {scale: 1; translate: 0; }
}
.Home {
    /* animation: appear 0.7s cubic-bezier(0.47, 0, 0.745, 1); */
    
}
.Home.Leave {
    animation: appear 0.7s cubic-bezier(0.47, 0, 0.745, 1) reverse;
}

.CardContainer {
    margin: 0 5vw 0 5vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.CoinContainer {
    margin: 0 2% 2% 2% !important;
    flex-basis: 15%;
    filter: none;
    transition: all 0.3s ease-in;
}
.CoinContainer:hover {
    margin: 0 2% 2% 2% !important;
    flex-basis: 15%;
    filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.644));
    translate: -10px -5px;
    scale: 1.05;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.TextContainer {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0;
    width: 65%;

    text-align: start;
}

.HomeTitle {
    font-size: 65px;
    color: var(--primary50);
    font-weight: 200;
    margin: 0 0 0 0;
}
.HomeDescription {
    font-size: 35px;
    color: var(--primary200);
    font-weight: 200;
    margin: 0 0 5vw 0;
}