.SearchBar::placeholder {
    color: var(--primary400);
}

.SearchBar {
    height: 30rem;
    width: 100%;

    border-radius: 20rem;
    border: none;
    text-align: center;
    font-size: 21rem;

    background-color: var(--primary700);
    color: var(--primary100);

    margin: 0;
}

@media (orientation: portrait) {
    .SearchBar {
        height: 70rem;
        font-size: 40rem;
    }
}

