html, body, #root {
  --primary50: #F0F4F8;
  --primary100: #D9E2EC;
  --primary200: #BCCCDC;
  --primary300: #9FB3C8;
  --primary400: #829AB1;
  --primary500: #627D98;
  --primary600: #486581;
  --primary700: #334E68;
  --primary800: #242B3B;
  --primary900: #102A43;
  --primary1000: #121f2b;
  --secondary100: #52abf0;
  --secondary200: #3CAAEB;
  --secondary300: #4084E4;
  --secondary400: #4554DC;
  --tertiary100: #ac88f3;
  --tertiary200: #8361C7;
  --tertiary300: #724fb8;
  --tertiary400: #6537a1;
  --warn100: #e69c9c;
  --warn200: #e08383;
  --warn250: #b45959;
  --warn300: #cf4b4b;
  --warn400: #983737;
  --warn500: #8b2828;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: white;
  overflow: hidden;

  transition: 1s all;
}

body {
  background-image: url("Assets/Images/minimal_bg.png");
  background-size: cover;
  background-position: fixed;
  /* background-color: var(--primary900); */
}
