@keyframes enter {
    0% {top: 100vh; border-radius: 50rem; height: 250rem; opacity: 0;}
    100% {top: calc(86vh - 50rem); border-radius: 100rem; height: 120rem; opacity: 1;}
}
/* @keyframes exit {
    0% {top: calc(90vh - 100rem); border-radius: 35rem; height: 100rem}
    100% {top: 100vh; border-radius: 0; height: 300rem;}
} */
@keyframes exit {
    0% {opacity: 1; top: calc(86vh - 50rem); border-radius: 100rem; height: 120rem;}
    100% {opacity: 0; top: calc(86vh - 50rem); border-radius: 100rem; height: 120rem;}
}



.SelectNotification {
    position: absolute;
    overflow: visible;

    margin: 0;

    width: 500rem;
    height: 120rem;

    left: calc(50% - 250rem);

    z-index: 4;


	background: var(--warn400);
    background: linear-gradient(120deg, var(--warn300) 05%, var(--warn400) 58%);
    box-shadow: 0 0 30rem black;
    box-shadow: inset 0 0 0;
    border: rgb(16, 24, 39) 1rem solid;

    color: rgb(209, 209, 209);

    text-align: left;

    transition: all 0.4s;
}
.SelectNotification:hover {
    box-shadow: inset 0 0 10rem var(--warn200);
}

.SelectNotification .error-content {
    margin: 15rem 20rem 5rem 50rem;
    font-weight: 500;
    font-size: 21rem;
    display: flex;
    flex-flow: row wrap;
}
.SelectNotification .highlight-text {
    font-size: 24rem;
    font-weight: 700;
    color: var(--warn100);
}

.SelectNotification .fix-button {
    border: none;
    cursor: pointer;
    margin: 10rem 0 0 0;
    width: 70rem;
    height: 30rem;

    background-color: var(--warn400);
    color:  var(--warn100);

    border-radius: 5rem;

    font-size: 20rem;
    font-weight: 700;

    box-shadow: inset 0 0 2rem rgb(70, 70, 70);

    transition: all 0.3s;
}
.SelectNotification .fix-button:hover {
    background-color: var(--warn100);
    color: var(--warn400);
}

.SelectNotification .error-content > img {
    margin: 25rem 20rem 0 -20rem;
    transform: translate(-10rem, -15rem) rotate(0deg);
    height: 70rem;
    width: 70rem;
}

.SelectNotification.animate-enter {
    animation: enter 0.5s cubic-bezier(0.175, 0.885, 0.72, 1) forwards;
}

.SelectNotification.animate-exit {
    animation: exit 0.15s ease-in forwards;
}
